torch==2.6.0
transformers @ git+https://github.com/huggingface/transformers@7eecdf2a8650306ed5fbb6150c64f99f587e004d
datasets==3.2.0
qwen-vl-utils==0.0.10
torchvision==0.21.0
trl==0.14.0
flash-attn==2.7.4.post1
mlflow==2.20.1
